<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{member}">
    <f:else>
        <div class="alert alert-warning" role="alert">
            NO PERSONS
        </div>
    </f:else>
</f:if>

<div class="row">
    <f:render partial="Member/{settings.layout}" arguments="{member: member, offset: 3}"/>
</div>

<f:if condition="{positions}">
    <f:render section="Positions" arguments="{_all}"/>
</f:if>

<f:section name="Positions">
    <h3>Groupes et équipes</h3>
    <div class="row">
        <div class="col-md-12">
            <p>
                {member.title} {member.firstName} fait partie
                <f:if condition="{positions -> f:count()}==1">
                    <f:then>de l'équipe suivante :</f:then>
                    <f:else>des équipes suivantes :</f:else>
                </f:if>
            </p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Groupe / Équipe</th>
                        <th>Fonction</th>
                        <th>Page sur le site</th>
                    </tr>
                </thead>
                <tbody>
                <f:for each="{positions}" as="position">
                    <f:for each="{position.functions}" as="function">
                        <tr>
                            <th>{position.staff.name}</th>
                            <td>{function}</td>
                            <td>
                                <f:for each="{position.links}" as="link">
                                    <f:link.page pageUid="{link.pageUid}">{link.title}</f:link.page>
                                </f:for>
                            </td>
                        </tr>
                    </f:for>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>