<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{staff.description}">
    <div class="jumbotron">
        <h1 class="display-4">Présentation</h1>
        {staff.description -> f:format.raw()}
    </div>
</f:if>

<f:for each="{staff.departments}" as="department">
    <f:if condition="{staff.departments -> f:count()}==1">
        <f:then>
            <f:render section="Department-{settings.layout}" arguments="{department: department, showName: 0}"/>
        </f:then>
        <f:else>
            <f:render section="Department-{settings.layout}" arguments="{department: department, showName: 1}"/>
        </f:else>
    </f:if>
</f:for>

<f:section name="Department-Normal">
    <div class="container">
        <f:if condition="{showName}">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">{department.name}</h2>
                    <f:if condition="{department.description}">
                        <h5 class="description">{department.description}</h5>
                    </f:if>
                </div>
            </div>
        </f:if>

        <div class="row">
            <f:for each="{department.members}" as="member">
                <f:render partial="Member/Normal" arguments="{member: member}"/>
            </f:for>
        </div>
    </div>
</f:section>

<f:section name="Department-Condensed">
    <div class="container">
        <div class="row">
            <f:if condition="{showName}">
                <div class="col-md-3 text-center">
                    <h4 class="title">{department.name}</h4>
                    <f:if condition="{department.description}">
                        <h5 class="description">{department.description}</h5>
                    </f:if>
                </div>
            </f:if>
            <f:for each="{department.members}" as="member">
                <f:render partial="Member/Condensed" arguments="{member: member}"/>
            </f:for>
        </div>
    </div>
</f:section>

</html>