<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>DIRECTORY template for extension 'staffdirectory'</title>
	<meta name="svn-id" content="$Id$" />
</head>
<body>

<!-- ###DIRECTORY### [begin] -->

<ul class="tx-staffdirectory-pi1-persons">
	<!-- ###MEMBER### [begin] -->
	<li style="clear:left;">
		<div class="tx-staffdirectory-pi1-person-name">
			<!-- ###LINK_DETAILS### -->###NAME###<!-- ###LINK_DETAILS### -->
		</div>
		<div class="tx-staffdirectory-pi1-person-staffs">
			<ul>
				<!-- ###STAFF### -->
				<li><!-- ###LINK_DETAILS### -->###NAME###<!-- ###LINK_DETAILS### --></li>
				<!-- ###STAFF### -->
			</ul>
		</div>
	</li>
	<!-- ###MEMBER### [end] -->
</ul>

<!-- ###DIRECTORY### [end] -->

<!-- ###DIRECTORY_EMPTY### [begin] -->

<p>###LABEL_EMPTY_DIRECTORY_LIST###</p>

<!-- ###DIRECTORY_EMPTY### [end] -->

</body>
</html>