<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>STAFF template for extension 'staffdirectory'</title>
	<meta name="svn-id" content="$Id$" />
</head>
<body>

<!-- ###STAFF### [begin] -->

<div property="foaf:Group">
	<h2 property="foaf:name">###NAME###</h2>

	###DESCRIPTION###

	<ol class="tx-staffdirectory-pi1-departments" property="foaf:member">
		<!-- ###DEPARTMENT### [begin] -->
		<li>
			<h3>###NAME###</h3>
			<!-- ###IF_DESCRIPTION### --><p>###DESCRIPTION###</p><!-- ###IF_DESCRIPTION### -->

			<ol class="tx-staffdirectory-pi1-members">
				<!-- ###MEMBER### [begin] -->
				<li class="vcard" property="foaf:Person">
					<div class="tx-staffdirectory-pi1-photo">###PHOTO###</div>
					<div class="fn" style="display:none">###FIRST_NAME### ###LAST_NAME###</div>
					<div class="n"><!-- ###LINK_DETAILS### --><span class="given-name" property="foaf:givenName">###FIRST_NAME###</span> <span class="family-name" property="foaf:familyName">###LAST_NAME###</span><!-- ###LINK_DETAILS### --></div>
					<!-- ###IF_POSITION_FUNCTION### --><div class="role note">###POSITION_FUNCTION###</div><!-- ###IF_POSITION_FUNCTION### -->
					<!-- ###IF_TELEPHONE### --><div class="tel" property="foaf:phone">###TELEPHONE###</div><!-- ###IF_TELEPHONE### -->
					<!-- ###IF_MOBILE_PHONE### --><div class="tel" property="foaf:phone">###MOBILE_PHONE###</div><!-- ###IF_MOBILE_PHONE### -->
					<!-- ###IF_EMAIL### --><div>
						###EMAIL###
						<span style="display:none" property="foaf:mbox_sha1sum">###EMAIL_SHA1###</span>
					</div><!-- ###IF_EMAIL### -->
					<div style="clear:left;"></div>
				</li>
				<!-- ###MEMBER### [end] -->
			</ol>
		</li>
		<!-- ###DEPARTMENT### [end] -->
	</ol>
</div>

<!-- ###IF_BACK### -->
<div class="tx-staffdirectory-pi1-back">
	<!-- ###LINK_BACK### -->###LABEL_BACK###<!-- ###LINK_BACK### -->
</div>
<!-- ###IF_BACK### -->

<!-- ###STAFF### [end] -->

</body>
</html>