<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="card-body">
    <h5 class="card-title">
        <f:if condition="{settings.targets.person}">
            <f:then>
                <f:link.action action="person" arguments="{person: member.personUid}" pageUid="{settings.targets.person}">{member.name}</f:link.action>
            </f:then>
            <f:else>
                {member.name}
            </f:else>
        </f:if>
    </h5>
    <h6 class="card-category text-muted">{member.positionFunction}</h6>
    <div class="card-description">
        <f:if condition="{member.telephone}">
            <p class="text-center"><i class="fa fa-phone"></i>&nbsp; <a href="tel:{member.telephone}">{member.telephone}</a></p>
        </f:if>
        <f:if condition="{member.mobilePhone}">
            <p class="text-center"><i class="fa fa-mobile"></i>&nbsp; <a href="tel:{member.mobilePhone}">{member.mobilePhone}</a></p>
        </f:if>
        <f:if condition="{member.email}">
            <p class="text-center"><i class="fa fa-envelope"></i>&nbsp; <f:link.email email="{member.email}">{member.email}</f:link.email></p>
        </f:if>
    </div>
</div>

</html>