<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{plugin.layout}==1">
    <f:then>
        <f:render section="Condensed" arguments="{_all}"/>
    </f:then>
    <f:else>
        <f:render section="Normal" arguments="{_all}"/>
    </f:else>
</f:if>

<f:section name="Normal">
    <div class="col-md-6{f:if(condition:offset, then: ' offset-md-{offset}')}">
        <div class="card card-profile card-plain">
            <div class="row">
                <div class="col-md-5">
                    <div class="card-header card-header-image">
                        <f:render partial="Member/Photo" arguments="{member: member, person:person}"/>
                    </div>
                </div>
                <div class="col-md-7">
                    <f:render partial="Member/CardBody" arguments="{member:member, person:person}"/>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Condensed">
    <div class="col-md-3">
        <div class="card card-profile card-plain">
            <div class="card-header card-avatar">
                <f:render partial="Member/Photo" arguments="{member: member, person:person}"/>
            </div>
            <f:render partial="Member/CardBody" arguments="{member:member, person:person}"/>
        </div>
    </div>
</f:section>

</html>
