<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="col-md-6{f:if(condition:offset, then: ' offset-md-{offset}')}">
    <div class="card card-profile card-plain">
        <div class="row">
            <div class="col-md-5">
                <div class="card-header card-header-image">
                    <f:render partial="Member/Photo" arguments="{member: member}"/>
                </div>
            </div>
            <div class="col-md-7">
                <f:render partial="Member/CardBody" arguments="{member:member}"/>
            </div>
        </div>
    </div>
</div>

</html>