<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{member.person.image.0}">
    <f:then>
        <img src="{f:uri.image(image: member.person.image.0, width: '250c', height: '250c')}" class="img"/>
    </f:then>
    <f:else>
        <f:if condition="{member.person.gender}==1">
            <f:then>
                <img src="{f:uri.resource(path: 'Images/placeholder-woman.jpg')}" class="img"/>
            </f:then>
            <f:else>
                <img src="{f:uri.resource(path: 'Images/placeholder-man.jpg')}" class="img"/>
            </f:else>
        </f:if>
    </f:else>
</f:if>

</html>